/* Open Sans font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    background: #eee;
    padding: 0 1em;
    align-items: center;
}

nav img {
    height: auto;
    width: auto;
    max-height: 54px;
    padding: 5px 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul:first-of-type {
    margin-right: auto;
    width: 100%;
}

nav ul li:hover {
    background: #ddd;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 1em;
}

nav .active {
    font-weight: 700;
}

.container {
    max-width: 768px;
    padding: 1em;
}

@media screen and (min-width: 768px) {
    .container {
        margin: auto;
    }
}

table {
    width: 100%;
    margin-top: 1em;
    border: solid 1px #61ade0;
    border-collapse: collapse;
    cursor: default;
}

thead, tbody, tr, th, td {
    border: none;
    border-collapse: collapse;
}

table thead {
    background: #61ade0;
    color: #ffffff;
}

table th {
    height: 50px;
    font-weight: 700;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: rgb(245, 245, 245);
}

tbody tr:hover {
    background: rgb(230, 230, 230);
}

th, td {
    padding: 5px;
}

table a {
    color: #61ade0;
    text-decoration: none;
}